.bio__container {
  display: flex;
  @media screen and (max-width: $vp-med) {
    flex-direction: column;
  }
  align-items: center;
  @include box-annouce(1.5em);
}

.bio__img {
  border-radius: 100%;
  min-width: 100px;
  margin: 0.5em 1em 0.5em 0;
}
