.bioBg--post {
  background: $dark-manilla;
  padding: 0.5em;
  box-shadow: 5px 5px $gray;
  margin: 1.5em auto;
}

.bioBg--index {
  @media screen and (max-width: $vp-med - 1) {
    background: $dark-manilla;
    padding: 0.5em;
    box-shadow: 5px 5px $gray;
    margin: 1.25em auto;
  }
}
