.base-container {
  @media screen and (min-width: 1020px + 1) {
    width: 50em;
  }
  @media screen and (min-width: 850px) and (max-width: 1020px) {
    width: 42em;
  }
  width: 80%;
  margin: 0 auto;
}

/* body container for pages */
.main__inner {
  padding-top: 2.5em;
  @media screen and (max-width: $vp-tablet) { padding-top: 0; }
  @extend .base-container;
}

.main__inner-articleList {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-top: 1em;
  @media screen and (max-width: $vp-tablet) {
    flex-direction: column;
  }
  & h2 {
    margin-bottom: 0.25em;
  }
  & article {
    @media screen and (min-width: 815px) {
      width: 40%;
      margin-right: 2em;
    }
    & h3 { margin: 0.75em 0; }
    background: $dark-manilla;
    margin-bottom: 2.25em;
    padding: 1em;
    box-shadow: 5px 5px $gray;
  }
}

.footer__inner {
  @extend .base-container;
  color: $daywalker;
  margin-top: 1em;
  padding: 1em 0 1em 0;
}
