.base-container {
  @media screen and (min-width: 1020px + 1) {
    width: 45em;
  }
  @media screen and (min-width: 850px) and (max-width: 1020px) {
    width: 38em;
  }
  width: 80%;
  margin: 0 auto;
}

/* body container for pages */
.main__inner {
  padding-top: 2.5em;
  @extend .base-container;
}

.main__inner-articleList {
  display: grid;
  @media screen and (min-width: $vp-med) {
    grid-template-columns: 30% auto;
  }
  grid-column-gap: 40px;
  & article {
    margin-bottom: 2.25em;
  }
}

.footer__inner {
  @extend .base-container;
  margin-top: 1em;
  padding: 1em 0 1em 0;
}
