html {
  background-color: $html;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: $prim-font;
}

body {
  margin: 0px;
  padding: 0px;
  color: $text;
}

p {
  font-weight: 400;
  line-height: 23px;
}

a {
  text-decoration: none;
  color: $link;
  transition: 0.25s color ease;
  &:hover {
    color: adjust-color($link, $lightness: 20%);
  }
}

h1 {
  margin: 0;
}

h1, h2, h3, h4 {
  color: $heading;
  font-family: Arial, Helvetica, sans-serif;
  font-family: $sec-font;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 2.65em;
  @media screen and (max-width: $vp-med) {
    font-size: 2.4em;
  }
  text-shadow: 1px 1px 0px rgba(160, 149, 149, 0.25);
}
h2 {
  font-size: 1.75em;
  @media screen and (max-width: $vp-med) { font-size: 1.58em; }
  text-shadow: 1px 1px 0px rgba(160, 149, 149, 0.25);
}
h3 {
  font-size: 1.25em;
  text-shadow: 1px 1px 0px rgba(160, 149, 149, 0.25);
}
h4 { font-size: 1.05em; }

pre {
  background-color: black;
  color: pink;
}

blockquote {
  margin: 1.5em;
  border-left: 5px solid #ff7d00;
  padding: 0 1em;
}

li {
  margin-bottom: 0.25em;
}

.fancy-gradient {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  margin-top: 2em;
  margin-bottom: 1em;
  @media screen and (max-width: $vp-med - 1) { margin-top: 1em; }
}
