header {
  border-top: 10px solid $rusty;
}

.header__inner {
  display: flex;
  flex-flow: column;
  padding-top: 1.15em;
  @media screen and (min-width: $vp-tablet) {
    justify-content: space-between;
    flex-flow: row;
  }
  & small { color: #33415c; }
  @extend .base-container;
}
