nav {
  & ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
  }
  & li {
    margin-right: 1em;
    font-weight: bold;
  }
}

li a[rel^="next"] {
  @media screen and (max-width: 736px) {
    display: block;
    margin-top: 1em;
  }
}
