.resumeBody {
  @media screen and (min-width: $vp-tablet) { margin-right: 4.8em; }
  h3, h4 { margin-bottom: 0; }
  h3 {
    padding-bottom: 0.35em;
  }
  small {
    color: $gray;
  }
  ul {
  list-style: none;
  padding-left: 1em;
  color: $vampire;
    li {
      font-size: 0.889em;
      line-height: 1.38em;
      padding: 0.5em 0;
    }
  }
}

.portfolioBody {
  @extend .resumeBody;
  h3 {
    border-bottom: none;
  }
  .portfolioImg {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}
