.resumeBody {
  h3, h4 { margin-bottom: 0; }
  h3 {
    padding-bottom: 0.35em;
  }
  small {
    color: $gray;
  }
  ul {
  list-style: none;
  @media screen and (min-width: $vp-tablet) {
    padding-left: 2em;
    padding-right: 10em;
  }
  color: $vampire;
    li {
      font-size: 0.9em;
      line-height: 1.38em;
      padding: 0.5em 0;
    }
  }
}

.portfolioBody {
  @extend .resumeBody;
  h3 {
    border-bottom: none;
  }
  .portfolioImg {
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 2px 12px -5px #a3bdd4;
    -moz-box-shadow: 0px 2px 12px -5px #a3bdd4;
    box-shadow: 0px 2px 12px -5px #a3bdd4;
  }
  &__project {
    margin-top: 3em;
    margin-bottom: 3em;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
