$brunswick-green: #283618;
$cornsilk: #fefae0;
$vamp: #22223b;
$foggy: #ddbea9;

$html: #fff1e6;
$white: white;
$bg: $cornsilk;
$prim: $brunswick-green;

$gray: #F7F7F7;

$text: $vamp;
$heading: $vamp;
$link: #bc6c25;

$vp-sm: 425px;
$vp-med: 768px;
$vp-lg: 1200px;
