$prim-font: 'Open Sans', sans-serif;
$sec-font: 'Roboto', sans-serif;

$vampire: #22223b;
$clay: #ddbea9;
$off_white: #fdfdff;
$manilla: #fffefd;
$dark-manilla: adjust-color($manilla, $lightness: -2.25%);
$daywalker: adjust-color(gray, $lightness: 2.5%);
$rusty: #bc6c25;

$html: $off_white;
$white: white;
$prim: $clay;

$stormcloud: adjust-color(#394763, $lightness: 20%);
$gray: #6c757d;
$light-gray: adjust-color($gray, $lightness: 45%);

$text: $vampire;
$heading: $vampire;
$link: #bc6c25;

$vp-sm: 425px;
$vp-med: 660px;
$vp-tablet: 768px;
$vp-lg: 1200px;
