$brunswick-green: #283618;
$vampire: #22223b;
$clay: #ddbea9;
$manilla: #fff1e6;
$dark-manilla: adjust-color($manilla, $lightness: -2.5%);
$rusty: #bc6c25;

$html: $manilla;
$white: white;
$prim: $clay;
$sec: $brunswick-green;

$gray: #6c757d;

$text: $vampire;
$heading: $vampire;
$link: #bc6c25;

$vp-sm: 425px;
$vp-med: 768px;
$vp-lg: 1200px;
